@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 100dvh;
  background-image: radial-gradient(ellipse at top, var(--tw-gradient-stops));
  --tw-gradient-from: #38bdf8 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(56, 189, 248, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #1e40af var(--tw-gradient-to-position);
}
.bg-border {
  background-color: hsl(220 13% 91%);
}
